<div class="footer-dark mt-5">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
            <p class="copyright">2020 © by Yadira Gibson. Proudly created by @fernan.code</p>
        </div>
    </footer>
</div>
